azure_subscription_id = "your-azure-subscription-id"
azure_client_id       = "your-azure-client-id"
azure_client_secret   = "your-azure-client-secret"
azure_tenant_id       = "your-azure-tenant-id"

resource_group_name     = "SUMO-267667-INTEGRATION-TEST"
location                = "East US"
eventhub_namespace_name = "SUMO-267667-EventHub-test"
eventhub_namespace_sku  = "Standard"
policy_name             = "SumoLogicTestCollectionPolicy-test"
throughput_units        = 2

activity_log_export_name     = "SumoTestActivityLogExport-test"
activity_log_export_category = "Administrative"
enable_activity_logs         = false

# For integration tests we disable the azurerm provider safety that prevents
# deletion of resource groups containing nested resources so test cleanup can remove
# test RGs. Set this to false in your test tfvars to allow cleanup.
prevent_deletion_if_contains_resources = false

target_resource_types = [
  {
    log_namespace    = "Microsoft.KeyVault/vaults"
    metric_namespace = "Microsoft.KeyVault/vaults"
  },
  {
    log_namespace    = "Microsoft.Storage/storageAccounts"
    metric_namespace = "Microsoft.Storage/storageAccounts"
  },
  {
    metric_namespace = "Microsoft.Compute/virtualMachines"
  }
]
required_resource_tags = {
  "logs-collection-destination" = "sumologic-test"
}
nested_namespace_configs = {
  "Microsoft.Storage/storageAccounts" = [
    "Microsoft.Storage/storageAccounts/blobServices",
    "Microsoft.Storage/storageAccounts/fileServices"
  ]
}

sumologic_access_id   = "your-sumologic-access-id"
sumologic_access_key  = "your-sumologic-access-key"
sumologic_environment = "us1"
sumo_collector_name   = "SUMO-267667-Collector-test"
installation_apps_list = [{
  uuid    = "53376d23-2687-4500-b61e-4a2e2a119658"
  name    = "Azure Storage"
  version = "1.0.3"
  parameters = {
    "index_value" = "sumologic_default"
  }
  }, {
  uuid    = "449c796e-5da2-47ea-a304-e9299dd7435d"
  name    = "Azure Key Vault"
  version = "1.0.2"
  parameters = {
    "index_value" = "sumologic_default"
  }
}]