sumologic_access_id            = "<staging-access-id>"
sumologic_access_key           = "<staging-access-key>"
sumologic_environment          = "stag"
sumologic_environment_base_url = "<staging-api-url>"  # e.g., "https://api.sumologic.com/api/"

installation_apps_list = [
  {
    uuid       = "<aws-app-uuid>"
    name       = "Example AWS App"
    version    = "latest"
    parameters = {}
  }
]
