{
"type": "SumoLogic",
"url": "${url}",
"name": "SumoLogic Integration",
"forwardingEnabled": true,
"forwardingActionMappings":[{
    "action": "create",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "acknowledge",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "add-note",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "close",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "unacknowledge",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "update-priority",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
},
{
    "action": "custom-action",
    "extraField": "",
    "extraFieldForMappedAction": "",
    "mappedAction": "sendData"
}],
"allowReadAccess" : true,
"allowWriteAccess" : true,
"allowDeleteAccess" : true,
"allowConfigurationAccess" : false,
"ignoreRespondersFromPayload": false,
"ignoreTeamsFromPayload": false,
"responders": [],
"suppressNotifications": false
}