{
  "type": "WebhookDefinition",
  "name": "Sumo Logic Opsgenie",
  "description": "Sumo Logic Opsgenie Webhook created by Terraform",
  "url": "${url}",
  "headers": [],
  "customHeaders": [],
  "defaultPayload": "{\"searchName\": \"{{SearchName}}\",\"searchDescription\": \"{{SearchDescription}}\",\"searchQuery\": \"{{SearchQuery}}\",\"searchQueryUrl\": \"{{SearchQueryUrl}}\",\"timeRange\": \"{{TimeRange}}\",\"fireTime\": \"{{FireTime}}\",\"rawResultsJson\": \"{{RawResultsJson}}\",\"numRawResults\": \"{{NumRawResults}}\",\"priority\" : \"P3\",\"aggregateResultsJson\" : \"{{AggregateResultsJson}}\"}",
  "webhookType": "Webhook"
}