{
  "type": "WebhookDefinition",
  "name": "Sumo Logic Jira Cloud",
  "description": "Sumo Logic Jira Cloud Webhook created by Terraform",
  "url": "${url}",
  "headers": [{"name":"Authorization","value":"${jira_cloud_auth}"}],
  "customHeaders": [],
  "webhookType": "Jira",
  "defaultPayload":"{\"fields\": {\"issuetype\": {\"name\": \"${jira_cloud_issuetype}\"},\"project\": {\"key\": \"${jira_cloud_projectkey}\"},\"summary\": \"{{SearchName}}\",\"priority\": {\"id\": \"${jira_cloud_priority}\"},\"description\": \"{{SearchQueryUrl}}\"}}"
}