azure_subscription_id   = "your-azure-subscription-id"
azure_client_id         = "your-azure-client-id"
azure_client_secret     = "your-azure-client-secret"
azure_tenant_id         = "your-azure-tenant-id"
resource_group_name     = "SUMO-267667"
eventhub_namespace_name = "SUMO-Azure-EventHub"
eventhub_namespace_sku  = "Premium"
policy_name             = "SumoLogicCollectionPolicy"
throughput_units        = 2

# Activity Log Configuration
activity_log_export_name     = "SumoActivityLogExport"
activity_log_export_category = "azure/activity-logs"
location                     = "East US"
enable_activity_logs         = false

# Resource Targeting Configuration

target_resource_types = [{
  log_namespace    = "Microsoft.Network/applicationGateways"
  metric_namespace = "Microsoft.Network/applicationgateways"
  },
  {
    log_namespace    = "Microsoft.Network/loadBalancers"
    metric_namespace = "Microsoft.Network/loadBalancers"
  },
  {
    log_namespace    = "Microsoft.Cache/Redis"
    metric_namespace = "Microsoft.Cache/redis"
  },
  {
    log_namespace    = "Microsoft.Web/sites"
    metric_namespace = "Microsoft.Web/sites"
  },
  {
    log_namespace    = "Microsoft.DBforPostgreSQL/flexibleServers"
    metric_namespace = "Microsoft.DBforPostgreSQL/flexibleServers"
  },
  {
    log_namespace    = "Microsoft.ApiManagement/service"
    metric_namespace = "Microsoft.ApiManagement/service"
  },
  {
    log_namespace    = "Microsoft.ServiceBus/namespaces"
    metric_namespace = "Microsoft.ServiceBus/Namespaces"
  },
  {
    log_namespace    = "Microsoft.EventGrid/domains"
    metric_namespace = "Microsoft.EventGrid/domains",
  },
  {
    metric_namespace = "Microsoft.EventGrid/systemTopics"
  },
  {
    metric_namespace = "Microsoft.EventGrid/topics"
  },
  {
    log_namespace    = "Microsoft.EventGrid/namespaces"
    metric_namespace = "Microsoft.EventGrid/namespaces"
  },
  {
    log_namespace    = "Microsoft.Network/virtualNetworks"
    metric_namespace = "Microsoft.Network/virtualNetworks"
  },
  {
    log_namespace    = "Microsoft.ContainerInstance/containerGroups"
    metric_namespace = "Microsoft.ContainerInstance/containerGroups"
  },
  {
    metric_namespace = "Microsoft.ContainerInstance/containerScaleSets"
  },
  {
    metric_namespace = "Microsoft.Compute/virtualMachines"
  },
  {
    metric_namespace = "Microsoft.Compute/virtualmachineScaleSets"
  },
  {
    log_namespace    = "Microsoft.KeyVault/vaults"
    metric_namespace = "Microsoft.KeyVault/vaults"
  },
  {
    log_namespace    = "Microsoft.Storage/storageAccounts"
    metric_namespace = "Microsoft.Storage/storageAccounts"
}]

required_resource_tags = {
  "logs-collection-destination"  = "sumologic"
  "logs-collection-destination2" = "sumologic2"
}

#ToDo: test for all nested namespaces(Storage, Azure SQL, OpenAI)
nested_namespace_configs = {
  "Microsoft.Storage/storageAccounts" = [
    "Microsoft.Storage/storageAccounts/blobServices",
    "Microsoft.Storage/storageAccounts/fileServices"
  ]
}

# Sumo Logic Configuration
sumologic_access_id   = "your-sumologic-access-id"
sumologic_access_key  = "your-sumologic-access-key"
sumologic_environment = "us1"
sumo_collector_name   = "SUMO-267667-Collector"

# App Installation Configuration
installation_apps_list = []