{
  "type": "WebhookDefinition",
  "name": "Sumo Logic Jira Service Desk",
  "description": "Sumo Logic Jira Service Desk Webhook created by Terraform",
  "url": "${url}",
  "headers": [{"name":"Authorization","value":"${jira_servicedesk_auth}"}],
  "customHeaders": [],
  "webhookType": "Jira",
  "defaultPayload":"{\"fields\": {\"issuetype\": {\"name\": \"${jira_servicedesk_issuetype}\"},\"project\": {\"key\": \"${jira_servicedesk_projectkey}\"},\"summary\": \"{{SearchName}}\",\"priority\": {\"id\": \"${jira_servicedesk_priority}\"},\"description\": \"{{SearchQueryUrl}}\"}}"
}