{
  "Statement": [
    {
      "Sid":"AWSCloudTrailAclCheck",
      "Effect":"Allow",
      "Principal": {
        "Service":"cloudtrail.amazonaws.com"
      },
      "Action":"s3:GetBucketAcl",
      "Resource": "${common_s3_bucket_arn}"
    },
    {
      "Sid":"AWSCloudTrailWrite",
      "Effect":"Allow",
      "Principal": {
        "Service":"cloudtrail.amazonaws.com"
      },
      "Action":"s3:PutObject",
      "Resource": "${common_s3_bucket_arn}/*",
      "Condition": {
        "StringEquals": {
          "s3:x-amz-acl":"bucket-owner-full-control"
        }
      }
    },
    {
      "Sid":"AWSBucketExistenceCheck",
      "Effect":"Allow",
      "Principal": {
        "Service":"cloudtrail.amazonaws.com"
      },
      "Action":"s3:ListBucket",
      "Resource": "${common_s3_bucket_arn}"
    },
    {
      "Sid":"AWSAlbLogsPutObjects",
      "Effect":"Allow",
      "Principal": {
        "AWS":"arn:aws:iam::${elb_account_id}:root"
      },
      "Action":"s3:PutObject",
      "Resource": "${common_s3_bucket_arn}/*"
    },
    {
      "Sid":"AWSAlbLogDeliveryAclCheck",
      "Effect":"Allow",
      "Principal": {
        "Service":"delivery.logs.amazonaws.com"
      },
      "Action":"s3:GetBucketAcl",
      "Resource": "${common_s3_bucket_arn}"
    },
    {
      "Sid":"AWSAlbLogDeliveryWrite",
      "Effect":"Allow",
      "Principal": {
        "Service":"delivery.logs.amazonaws.com"
      },
      "Action":"s3:PutObject",
      "Resource": "${common_s3_bucket_arn}/*",
      "Condition": {
        "StringEquals": {
          "s3:x-amz-acl":"bucket-owner-full-control"
        }
      }
    }
  ],
  "Version": "2008-10-17"
}
