{
  "Version":"2012-10-17",
  "Statement": [
    {
      "Action": [
        "apigateway:GET",
        "autoscaling:Describe*",
        "cloudfront:GetDistributionConfig",
        "cloudfront:ListDistributions",
        "cloudtrail:DescribeTrails",
        "cloudtrail:GetTrailStatus",
        "cloudwatch:Describe*",
        "cloudwatch:Get*",
        "cloudwatch:List*",
        "codedeploy:List*",
        "codedeploy:BatchGet*",
        "dynamodb:Describe*",
        "dynamodb:List*",
        "ec2:Describe*",
        "ecs:Describe*",
        "ecs:List*",
        "elasticache:Describe*",
        "elasticache:List*",
        "elasticfilesystem:Describe*",
        "elasticloadbalancing:Describe*",
        "elasticmapreduce:Describe*",
        "elasticmapreduce:List*",
        "es:Describe*",
        "es:List*",
        "health:Describe*",
        "kinesis:Describe*",
        "kinesis:List*",
        "lambda:List*",
        "mq:Describe*",
        "mq:List*",
        "rds:Describe*",
        "rds:List*",
        "redshift:Describe*",
        "route53:List*",
        "sqs:ListQueues",
        "ses:GetSendStatistics",
        "ses:GetSendQuota",
        "sns:List*",
        "tag:GetResources",
        "tag:GetTagKeys",
        "tag:GetTagValues",
        "xray:BatchGetTraces",
        "xray:Get*",
        "pi:DescribeDimensionKeys",
        "pi:GetResourceMetrics"
      ],
      "Effect": "Allow",
      "Resource": "*"
    }
  ]
}
